.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gridSize * 2;

  .minus,
  .plus {
    width: 40px;
    height: 40px;
    background-color: $mainColor;
    position: relative;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $mainColorHover;
    }
  }

  .value {
    font-size: 20px;
  }
}
