.header {
  padding: 10px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .menu,
  .logo,
  .userIcon,
  .cart {
    cursor: pointer;
  }

  &.disableUser {
    .userIcon {
      opacity: .3;
      pointer-events: none;
    }
  }
}
