.mainInput {
  display: grid;
  grid-template-rows: 28px 52px;
  gap: $gridSize;
  position: relative;

  &.textarea {
    grid-template-rows: 28px 132px;
  }

  &.hideLabel {
    grid-template-rows: 52px;
  }

  .mainInputLabel {
    font-size: 16px;
    line-height: 32px;
    font-family: $inputFontFamily;
  }

  input,
  textarea {
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    border: 1px solid $mainColor;
    outline: 0;
    padding: 10px 15px;
    resize: none;
    font-family: $inputFontFamily;

    &::placeholder {
      color: $lightGrey;
    }
  }

  .mainButton {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 12px;
    background-color: $mainColor;
    font-weight: normal;
    padding: $gridSize * 2;
    max-width: 84px;
    color: black;

    &:hover {
      color: white;
      background-color: $tertiaryColor;
    }
  }
}
