.mainButton {
  outline: 0;
  border: 0;
  font-size: 24px;
  color: white;
  background-color: $secondaryColor;
  border-radius: 8px;
  padding: $gridSize * 2;
  width: 100%;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $tertiaryColor;
  }

  &.delete {
    background-color: $mainRed;
    padding: ($gridSize * 3) ($gridSize * 10);

    &:hover {
      background-color: $darkRed;
    }
  }
}
