.productList {
  display: flex;
  flex-direction: column;
  padding: 0 ($gridSize * 2);
  max-width: 1076px;
  margin: 0 auto;
  margin-top: $gridSize * 6;

  .productListHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    .title {
      display: flex;
      align-items: flex-end;

      .category {
        font-size: ($gridSize * 12);
        line-height: ($gridSize * 12);
        margin-right: $gridSize;
        font-weight: 600;
      }

      .quantity {
        opacity: 0.5;
        font-size: ($gridSize * 6);
        line-height: ($gridSize * 8);
      }
    }

    .sortButtons {
      display: flex;
      align-items: center;
      gap: $gridSize * 3;

      .sortButton {
        padding: ($gridSize * 3);
        background-color: $mainColor;
        border-radius: ($gridSize * 3);
        cursor: pointer;

        &.disabled {
          opacity: 0.4;
        }
      }
    }
  }

  .body {
    margin-top: ($gridSize * 6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gridSize * 3;
  }
}
