.sideCart {
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: $sideCartBg;
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }

  .sideCartHeader {
    padding: ($gridSize * 3) ($gridSize * 6);

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 92px;
    background-color: rgba($mainColor, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .sideCartLeft {
    .yourOrder {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .deliveryInfo {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .sideCartRight {
    img,
    .trashIcon {
      cursor: pointer;
    }
  }

  .sideCartBody {
    padding: ($gridSize * 6) ($gridSize * 3);

    display: flex;
    flex-direction: column;
    gap: $gridSize * 3;
    overflow-y: auto;
    flex-grow: 1;
  }

  .sideCartFooter {
    padding: $gridSize * 3 ($gridSize * 5 + 2px);
    background-color: rgba($mainColor, 0.1);

    .mainButton {
      margin-top: $gridSize * 3;
    }
  }
}
