.userHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-top: $gridSize * 6;

  div {
    &:first-child {
      font-size: 36px;
    }

    &:last-child {
      text-align: right;
      font-size: 20px;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
