.userData {
  margin-top: $gridSize * 6;
  
  .userDataInputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $gridSize * 6;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }
}
