$font-family: 'Inter', sans-serif;

$mainColor: #ACDBDF;
$mainColorHover: #70C3CA;
$secondaryColor: #588D9C;
$tertiaryColor: #2F7487;
$mainBg: #F8F8F8;
$sideMenuBg: #1A2121;
$sideCartBg: #F5F5F5;
$gridSize: 4px;