$inputFontFamily: 'Inter', sans-serif;
$mainFontFamily: 'Open Sans';

$mainColor: #ACDBDF;
$mainColorHover: #70C3CA;
$secondaryColor: #588D9C;
$tertiaryColor: #2F7487;
$mainBg: #F8F8F8;
$sideMenuBg: #1A2121;
$sideCartBg: #F5F5F5;
$lightGrey: #D2D2D2;
$mainRed: #F14668;
$darkRed: #C82848;
$orderGrey: #E5EAEC;
$green: #7DBF11;

$gridSize: 4px;
