@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'reset';
@import 'variables';

// components
@import 'header';
@import 'productList';
@import 'foodCard';
@import 'sideMenu';
@import 'sideCart';
@import 'counter';
@import 'cartItem';
@import 'paymentInfo';
@import "mainButton";

.home {
  background-color: $mainBg;
}
