@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}


@import 'reset';
@import 'variables';

// components
@import 'header';
@import 'userHeader';
@import 'mainInput';
@import 'blockHeader';
@import 'mainButton';
@import 'pageHeader';
@import 'mainCheckbox';
@import 'counter';
@import 'paymentInfo';

$primary: $mainColor;

@import 'bootstrap/scss/bootstrap';

$spacer: $gridSize;

:root {
  --bs-border-color: #{$lightGrey};
}

.order {
  background-color: $mainBg;

  .main {
    max-width: 1278px;
    margin: 0 auto;
  }

  .dish {
    .dishImage img {
      height: auto;
      width: 178px;
    }
  }

  .paymentBlock {
    width: 432px;
  }
}
