@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'reset';
@import 'variables';
@import 'bootstrap/scss/bootstrap';

// components
@import 'header';
@import 'userHeader';
@import 'mainInput';
@import 'blockHeader';
@import 'mainButton';
@import 'pageHeader';

$spacer: $gridSize;

:root {
  --bs-border-color: #{$lightGrey};
}

.order {
  background-color: $mainBg;

  .main {
    max-width: 950px;
    margin: 0 auto;
  }

  .dish {
    .dishImage img {
      height: auto;
      width: 178px;
    }
  }
}
