mixin dish()
  .bg-white.dish.rounded-3.d-flex.align-items-center.border
    .dishImage
      img.rounded-start.img-fluid(src=require("images/rolls2.webp"))
    .d-flex.ms-4.me-4.w-100.justify-content-between.dishBody
      .fs-5.dishName Филадельфия
      .fs-5.fw-bold.dishPrice 3x2400 ₽
  