.foodCard 
  .top 
    img(src=require('images/CardHeader.png'), alt="_img")
  .bottom 
    .foodCardMain 
      .info 
        .name Филадельфия
        .weight 0.280кг
      .priceBlock 
        .price 
          span 500 
          span ₽
        include ./plusButton.pug

    .footer Сливочный сыр, рис для суши, авокадо, лосось, нори, огурец
