.header 
  .menu 
    img(src=require("images/Burger.svg"))
  a.logo(href="/") 
    img(src=require("images/Logo.svg"))
  .icons 
    .userIcon
      img(src=require("images/User.svg"))
    .cart
      img(src=require("images/Cart.svg"))