mixin mainInput(label="", type= "text", hideLabel= false)
  .mainInput(class= `${type} ${hideLabel ? 'hideLabel' : ''}`) 
    if !hideLabel 
      label.mainInputLabel= label
    if type == "textarea"
      textarea(placeholder= label)
    else
      input(type= type, placeholder= label)
