mixin mainInput(label="", type= "text")
  .mainInput 
    label.mainInputLabel= label
    if type == "textarea"
      textarea(placeholder= label)
    else
      input(type= type, placeholder= label)
