mixin mainInput(label="", type= "text", hideLabel= false, button= "")
  .mainInput(class= `${type} ${hideLabel ? 'hideLabel' : ''}`) 
    if !hideLabel 
      .mainInputLabel= label
    if type == "textarea"
      textarea(placeholder= label)
    else
      input(type= type, placeholder= label)
    if button !== "" 
      include ./mainButton.pug
      +mainButton(button)