.sideCart
  .sideCartHeader
    .sideCartLeft 
      .header Ваш заказ
      .deliveryInfo Доставим за 45 минут
    .sideCartRight
      img(src=require("images/Delete.svg"))
  .sideCartBody
    each _ in [1,2,3]
      include ./cartItem.pug

  .sideCartFooter
    include ./paymentInfo.pug
    include ./mainButton.pug
    +mainButton("Оформить заказ")