.userData 
  include ./mainInput.pug
  include ./mainInputWithCheckbox.pug
  include ./blockHeader.pug
  +blockHeader("Личные данные")
  .userDataInputs
    +mainInput("Имя")
    +mainInput("Фамилия")
    +mainInput("Отчество")
  .userDataInputs
    +mainInput("Дата Рождения")
    +mainInputWithCheckbox("Телефон", "Получать SMS сообщения о статусе заказа ")
    +mainInputWithCheckbox("Электронная почта", "Получать Email сообщения о статусе заказа ")