.userAddresses
  include ./blockHeader.pug
  include ./addressBlock.pug
  +blockHeader("Адреса")
  .addresses 
    +addressBlock("г. Санкт-Петебург, Невский Проспект, д. 26, кв. 80")
    +addressBlock("г. Санкт-Петебург, Невский Проспект, д. 26, кв. 80")
    +addressBlock("г. Санкт-Петебург, Невский Проспект, д. 26, кв. 80", true)