doctype html
html(lang="en")
  head
    title Document
    meta(charset="UTF-8")
    link(href=require("styles/index.scss") rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body 
    include ./components/header.pug
    include ./components/productList.pug