doctype html
html(lang="en")
  head
    title User profile
    meta(charset="UTF-8")
    link(href=require("styles/order.scss") rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body.order
    include components/header.pug
    +header(true, "disableCart")

    .main.row.mt-4
      .col.ps-4.pe-0
        include components/orderForm.pug 
        include components/orderAddress.pug
      //- .col.ps-0.pe-4.ms-5
        //- include components/paymentBlock.pug 
      