doctype html
html(lang="en")
  head
    title User profile
    meta(charset="UTF-8")
    link(href=require("styles/order.scss") rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body.order
    include components/header.pug
    +header(true, "disableCart")

    .main.d-flex.align-items-top.mt-4.pb-4
      .ps-4
        include components/orderForm.pug 
      .pe-4.ms-5
        include components/paymentBlock.pug 
      